html{
    background-color: rgb(247, 252, 224);
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: rgb(237, 252, 182);
    padding: 0 20px 20px 20px;
    border: 2px solid white
}

img{
    display: block;
    margin: 0 auto;
}

p {
    color: red;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: green;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 1px whitesmoke;
}

li {
    color: blue;
    font-family: 'Roboto', sans-serif;
}